$bkg-1:#00A5E3;
$bkg-2: #0C0F11;
$bkf-3: #9D4A7F;
$colour__bkg: linear-gradient(to right top, #00a5e3, #1786b6, #1e688c, #1e4c63, #1a313e, #192d3b, #192838, #192434, #2d314f, #4c3c66, #734477, #9d4a7f);
$font-color: #ECFBFF;
$color-checked: #6AAB48;